@import "@ukic/fonts/dist/fonts.css";
@import "@ukic/react/dist/core/core.css";
@import "tailwindcss";

@theme {
  --color-ic-architectural-black: var(--ic-architectural-black);
  --color-ic-architectural-900: var(--ic-architectural-900);
  --color-ic-architectural-800: var(--ic-architectural-800);
  --color-ic-architectural-700: var(--ic-architectural-700);
  --color-ic-architectural-600: var(--ic-architectural-600);
  --color-ic-architectural-500: var(--ic-architectural-500);
  --color-ic-architectural-400: var(--ic-architectural-400);
  --color-ic-architectural-300: var(--ic-architectural-300);
  --color-ic-architectural-200: var(--ic-architectural-200);
  --color-ic-architectural-100: var(--ic-architectural-100);
  --color-ic-architectural-80: var(--ic-architectural-80);
  --color-ic-architectural-60: var(--ic-architectural-60);
  --color-ic-architectural-40: var(--ic-architectural-40);
  --color-ic-architectural-20: var(--ic-architectural-20);
  --color-ic-architectural-white: var(--ic-architectural-white);
}
